<%- include('../../partials/head.ejs') -%>

<div class="container">

    <div class="row">


        <div class="col-md-6 offset-md-3">

            <div class="card card-body">


                <h4>
                    Create a new account
                  
                </h4>


                <form action="/auth/signup" method="POST">
                    <div class="form-group">
                        <label for="username">Enter your username</label>
                        <input type="text" name="username" id="username"
                               class="form-control  <%= error.username ? 'is-invalid' : '' %> ">

                        <div class="invalid-feedback"><%= error.username %></div>
                    </div>

                    <div class="form-group">
                        <label for="username">Enter your valid email</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="username">Enter your password</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>


                    <div class="form-group">
                        <label for="username">Confirm password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control">
                    </div>

                    <input type="submit" class="btn btn-primary" value="Signup">
                </form>

                <a href="/auth/signin" class="my-3 text-center">Already have an account? SignIn </a>
            </div>
        </div>
    </div>


</div>

<%- include('../../partials/footer.ejs') -%>